@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
}


@layer utilities {
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #676767; 
    border-radius: 8px;
  }

}


.section-overlay::before {
  content: "";
  position: absolute;
  top: 100dvh; 
  left: 0;
  width: 100%;
  height: 100dvh; 
  background-image: url('/images/details-page-bg.jpeg');
  background-size: cover;
  background-position: center calc(100% + 30rem);
  background-repeat: repeat-y;
  transform: scaleX(-1);

}

.section-overlay {
  position: absolute;
  top:0;
  left:0;
  background-image: url('/images/details-page-bg.jpeg');
  background-size: cover;
  background-position: center calc(100% + 30rem);
  background-repeat: repeat-y; 
  width: 100%;
  height: 100dvh; 
  filter:blur(5px);
  opacity: .8;
}



@layer utilities{
  .li-style{
    @apply relative  before:absolute before:top-0 before:left-10 before:w-full before:h-full
  }
}


/* Import Fonts */

@font-face {
  font-family: 'DINNextArabic';
  src: url('/fonts/DINNextLTArabic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINNextArabic';
  src: url('/fonts/DINNextLTArabic-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DINNextArabic';
  src: url('/fonts/DINNextLTArabic-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DINNextArabic';
  src: url('/fonts/DINNextLTArabic-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DINNextArabic';
  src: url('/fonts/DINNextLTArabic-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'DINNextArabic';
  src: url('/fonts/DINNextLTArabic-UltraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}


